body {
  font-family: Arial,'Free Sans',sans-serif;
font-size: 14px;
  color: #011b1d;
  background: transparent;
  padding: 0px;
  margin: 0;
}

a:link {
  text-decoration:none;
  color: #045097;
}

a:visited {
  text-decoration:none;
  color: #001222;
}

a:hover {
  text-decoration:none;
  color: #022A50;
}
/* Barre de navigation */

/*--- Fixer la navbar ----*/
#barre_nav{
position: fixed;
top: -20px;
width: 100%;
left: 0;
z-index: 9999;
}
/* Espacement avant et après barre de navigation */ 
#barre_nav {
margin-top: -20px;
margin-bottom: 20px;
width: 100%;
position: fixed;
top: 0px;
}

#barre_nav .section:last-child li {
padding-right: 0
}

/* Espacement et bordure premier lien */
#barre_nav .section:first-child li {
padding-left: 0px;}

/* Fond et bordure barre de navigation */
#barre_nav ul {
text-align: center;
padding: 10px;
background-color: #011b1d;
opacity: 0.8;
top: 0px;}

/* Police et couleur des liens */
#barre_nav li a {
font-family: 'Century Gothic','URW Gothic L', sans-serif;
font-size: 16px;
margin-right: 20px;
text-transform: uppercase;
color: #ffffff;
}

/* Visiblité liens */
#barre_nav ul {
overflow: visible;}

/* Police et couleur des liens survolés */
#barre_nav li.selected a, #barre_nav li a:hover {
text-decoration: bold;
padding: 5px;
letter-spacing: 5px;
-moz-transition-duration: 0.4s;
-webkit-transition-duration: 0.4s;
-o-transition-duration: 0.4s;
transition-duration: 0.4s;

}

/* Centrer la barre de navigation */
#barre_nav li, #barre_nav li {
display: inline-block;
float: none;}

/* Barre de rechercher */
#searchThis{
float:right;
vertical-align: center;
}

#searchBox{
border: 1px solid #FFFFFF;
background: #011b1d;
padding: 4px;
border-radius: 4px;
color: #FFFFFF;
font-family: Arial,'Free Sans',sans-serif;
}

#searchButton{
background: #FFFFFF;
color: #011b1d;
padding: 4px;
text-transform: uppercase;
font-family: 'Century Gothic', 'URW Gothic L', sans-serif;
font-weight: bold;
border: none;
letter-spacing: 1px;
}


/----Header----/
header{
	margin-top: 100px;
	width: 100%;
	height: 300px;
}

/---- Slideshow---/
.slideshow { 
	list-style: none;
	margin: 0;
	margin-top: 200px;
	padding: 0;
    overflow: hidden;
    width: 100%;
    height: 400px;
}

.slideshow li { 
	display: none;
	list-style: none;
	margin: 0 -100% 0 0;
	width: 100%;
	height: 400px;
   
}

.slideshow li:first-child{
	display: block;
}
.slideshow img {
	width: 100%;
	height: 400px;
	max-width: 100%;
	vertical-align: top;
	background-size: cover;
}

}
/----- Content -----/
.content {
	width: 100%;
	margin: auto;
}

/---- Aside --- /

.container {
	display: flex;
	flex-direction: row;
	align-content: center;
}
#agenda{
	width: 300px;
	flex-direction: row;
	align-content: center;
	border: 1px solid black;
	padding: 4px;
	margin: 10px;
	float: left;
}	
#sortiescine {
	width: 300px;
	flex-direction: row;
	align-content: center;
	border: 1px solid #00001A;
	margin: 10px;
	padding: 4px;
	clear: both;
}

/-- Challenge Séries --/

/* Galerie Photo */
#galerie_photo {
max-width: 100%;
text-align: center;
}

#galerie_photo .GPimg {
max-width: 40%;
width: 150px;
height: 150px;
display: inline-block;
background-position: 50% 50%;
background-size: cover;
padding: 0;
margin: 4px;
border-radius: 70px;
}

#galerie_photo .GPimg:hover {
transformation: scale (1.25);

}

#challengeseries {
background-color: #6AB7FE;
text-align: center;
margin: auto;
padding: 10px;
width: 600px;
float: right;
}

#challengeseries h3{
color: #001222;
font-size: 18px;
text-transform: uppercase;
font-weight: bold;
border-bottom: 1px solid #001222;
font-family: 'Century Gothic', 'URW Gothic L', sans-serif;
}

.statut {
color: transparent;
}

.statut:hover{
background-color:#004445;
opacity: 0.8;
color: #FFFFFF;
font-weight: lighter;
font-family: 'Century Gothic', 'URW Gothic L', sans-serif;
transition-duration: 0.4s;
z-index: 9999;
width: 150px;
height: 150px;
border-radius: 70px;
font-size: 25px;
vertical-align: middle;
}

.statuttermine {
background-color: #022330;
opacity: 0.8;
color: #FFFFFF;
width: 150px;
height: 150px;
font-weight: lighter;
border-radius: 70px;
text-transform: uppercase;
font-family: 'Century Gothic', 'URW Gothic L', sans-serif;
z-index: 9999;
vertical-align: middle;
}